# 01.  Python (базовый). Типы данных

Ноутбук к презентации "01_Введение, типы данных.pptx" курса Python (basic)

## 01.01. Введение

Пример кода функции:

In [1]:
import random

class Person:

    def __init__(
            self, 
            name,
            gender, 
            age, 
            favorite_things, 
            happyness_level=50
            ):
        
        self.name = name
        self.gender = gender
        self.age = age
        self.favorite_things = favorite_things
        self.happyness_level = happyness_level

    def make_happier(self):
        if self.favorite_things:
            thing = random.choice(self.favorite_things)
            self.buy_thing(thing)

            self.happyness_level = self.happyness_level + 10

            if self.gender == 'М':
                verb = "стал"
            else:
                verb = "стала"

            print(f"{self.name} {verb} счастливее, уровень счастья: {self.happyness_level}")

    def buy_thing(self, thing):
        if self.gender == 'М':
            verb = "купил"
        else:
            verb = "купила"

        print(f"{self.name} {verb} {thing}")

In [2]:
person1 = Person('Алена', 'Ж', '30', ["духи", "цветы", "шоколад"])
person1.make_happier()

Алена купила шоколад
Алена стала счастливее, уровень счастья: 60

## 01.02. Библиотеки (модули, пакеты)

In [3]:
import datetime

print('Текущее время: ', datetime.datetime.now())
print('Год: ', datetime.datetime.now().year)
print('Месяц: ', datetime.datetime.now().month)
print('День: ', datetime.datetime.now().day)
print('10 дней назад: ', datetime.datetime.now() - datetime.timedelta(days=10))

Текущее время:  2023-09-07 21:06:10.760909
Год:  2023
Месяц:  9
День:  7
10 дней назад:  2023-08-28 21:06:10.762862

In [4]:
import random

print('randint: ', random.randint(1, 10))
print('choice: ', random.choice([10, 21, 32, 41, 5, 6, 7]))
print('random: ', random.random())
print('uniform: ', random.uniform(100,200))

randint:  7
choice:  32
random:  0.5438225348073612
uniform:  162.58133564034563

In [5]:
import math

print('cos: ', math.cos(0.5))
print('exp: ', math.exp(2))
print('sqrt: ', math.sqrt(121))
print('e: ', math.e)

cos:  0.8775825618903728
exp:  7.38905609893065
sqrt:  11.0
e:  2.718281828459045

In [6]:
import pandas

data = {
  "Ограничение": [60, 90, 40, 20],
  "Локация": ['Город', 'Трасса', 'Ямы', 'Лежачий полицейский']
}

df = pandas.DataFrame(data)
df

   Ограничение              Локация
0           60                Город
1           90               Трасса
2           40                  Ямы
3           20  Лежачий полицейский

## 01.03. Структуры и типы данных

### 01.03.01. Динамическая типизация

- Можно менять типы данных в процессе выполнения программы
- Все в Python - объекты, имена переменных содержат ссылки на эти объекты
- Для получения типа данных объекта необходимо выполнить команду type(<объект>)
- при отсутствии ссылок на объект (переменных, ссылающихся на объект), объект будет удален из памяти

In [9]:
var1 = 13
print(var1, type(var1), hex(id(var1)))

var1 = 24
print(var1, type(var1), hex(id(var1)))

var1 = 'some_string'
print(var1, type(var1), hex(id(var1)))

13 <class 'int'> 0x20eba506ab0
24 <class 'int'> 0x20eba506c10
some_string <class 'str'> 0x20ec22a51b0

In [10]:
print(hex(id(13)))
print(hex(id(24)))
print(hex(id('some_string')))

0x20eba506ab0
0x20eba506c10
0x20ec22a51b0

### 01.03.02. Преобразования типов

In [11]:
a = 2
b = 3.1
c = a + b

c, type(c)

(5.1, float)

In [12]:
b = '3.1'
c = a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [15]:
b = float(b)
c = a + b

b, c

(3.1, 5.1)

In [18]:
a = int(b)

a

3

In [21]:
b = int("3.1x")

ValueError: invalid literal for int() with base 10: '3.1x'

In [22]:
int(True), int(False), float(True), float(False)

(1, 0, 1.0, 0.0)

In [23]:
"a" + 2

TypeError: can only concatenate str (not "int") to str

In [24]:
"a" + str(2)

'a2'

### 01.03.03. Изменяемые и неизменяемые объекты

Незменяемые

In [45]:
x = 1
y = x

print(x, hex(id(x)), y, hex(id(y)))

x = x + 1

print(x, hex(id(x)), y, hex(id(y)))

print(hex(id(2)), hex(id(1)))

1 0x20eba506930 1 0x20eba506930
2 0x20eba506950 1 0x20eba506930
0x20eba506950 0x20eba506930

Изменяемые (List, dict)

In [47]:
x = list([1, 2, 3])
y = x
z = x.copy()

print(x, hex(id(x)), y, hex(id(y)), z, hex(id(z)))

x.append(4)

print(x, hex(id(x)), y, hex(id(y)), z, hex(id(z)))

[1, 2, 3] 0x20ec22ad980 [1, 2, 3] 0x20ec22ad980 [1, 2, 3] 0x20ec22945c0
[1, 2, 3, 4] 0x20ec22ad980 [1, 2, 3, 4] 0x20ec22ad980 [1, 2, 3] 0x20ec22945c0

### 01.03.04 Списки (list)

In [48]:
lst = [1, 2, 3]

lst

[1, 2, 3]

In [50]:
lst = list((1, 2, 3))

lst

[1, 2, 3]

In [53]:
lst = [1, 2, 'one', ['three', 'four', 'five'], 'two']
lst

[1, 2, 'one', ['three', 'four', 'five'], 'two']

In [61]:
lst[0]

1

In [62]:
lst[-1]

'two'

In [63]:
lst[3]

['three', 'four', 'five']

In [64]:
lst[-3]

'one'

In [66]:
lst[:2] # =lst[0:2]

[1, 2]

In [68]:
lst[-2:] # =lst[-2:len(lst)]

[['three', 'four', 'five'], 'two']

In [69]:
lst[::2]

[1, 'one', 'two']

In [65]:
lst[2:4]

['one', ['three', 'four', 'five']]

In [70]:
lst[::-1]

['two', ['three', 'four', 'five'], 'one', 2, 1]

In [71]:
'лопата'[::-1]

'атапол'

In [83]:
lst1 = [1, 1, 1]
lst2 = lst1
lst3 = lst1.copy()
lst4 = lst1[:] # = копировать

hex(id(lst1)), hex(id(lst2)), hex(id(lst3)), hex(id(lst4))

('0x20ec23c2a00', '0x20ec23c2a00', '0x20ec2391bc0', '0x20ec23b8840')

In [84]:
print(lst1)

lst1.append('99')

print(lst1)

[1, 1, 1]
[1, 1, 1, '99']

In [85]:
lst1 = [1, 2, 3]
lst2 = ['a', 'b', 'c']

lst1.extend(lst2)
lst1

[1, 2, 3, 'a', 'b', 'c']

In [86]:
lst1 + lst2

[1, 2, 3, 'a', 'b', 'c', 'a', 'b', 'c']

In [87]:
lst1.insert(3, 'работа insert')
lst1

[1, 2, 3, 'работа insert', 'a', 'b', 'c']

In [88]:
lst1.remove(2)
lst1

[1, 3, 'работа insert', 'a', 'b', 'c']

In [89]:
t = lst1.pop(2)
t, lst1

('работа insert', [1, 3, 'a', 'b', 'c'])

In [91]:
lst1.index('a')

2

In [92]:
lst1.count('a')

1

In [93]:
lst1.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [95]:
lst3 = [1, 4, 3, 2, 1]
lst3.sort()
lst3

[1, 1, 2, 3, 4]

In [96]:
lst3.reverse()
lst3

[4, 3, 2, 1, 1]

### 01.03.05. Кортежи (tuple)

In [10]:
tpl = (1, 2, 'one', ['three', 'four', 'five'], 'two')
tpl

(1, 2, 'one', ['three', 'four', 'five'], 'two')

In [11]:
tpl[1]

2

In [12]:
tpl * 2

(1,
 2,
 'one',
 ['three', 'four', 'five'],
 'two',
 1,
 2,
 'one',
 ['three', 'four', 'five'],
 'two')

In [13]:
tpl + tpl

(1,
 2,
 'one',
 ['three', 'four', 'five'],
 'two',
 1,
 2,
 'one',
 ['three', 'four', 'five'],
 'two')

In [14]:
print(tpl[-2])
tpl[-2][0] = 11111111
tpl

['three', 'four', 'five']

(1, 2, 'one', [11111111, 'four', 'five'], 'two')

In [15]:
print(tpl[1])
tpl[1] = 5

2

TypeError: 'tuple' object does not support item assignment

### 01.03.06. Операции над строками

In [19]:
s = "1. Пример строки"
print(type(s))
print(s)

s = '2. Можно использовать одинарные кавычки'
print(s)

s = '''3. Если текст длинный, можно использовать
вариант с тремя кавычками и переносом строки'''
print(s)

<class 'str'>
1. Пример строки
2. Можно использовать одинарные кавычки
3. Если текст длинный, можно использовать
вариант с тремя кавычками и переносом строки

In [20]:
print('4. Можно вычислять длину строки:', len(s))
print('5. Строки' + ' можно' + ' складывать')
print('6. И даже' + ' умножать'*3)

4. Можно вычислять длину строки: 86
5. Строки можно складывать
6. И даже умножать умножать умножать

In [24]:
print('7. Можно искать вхождение подстроки:', 'Если' in s)
print('8. Если подстрока не найдена, то возвращается False:', '999' in s)
print('9. Строки можно разделять в списки:', s.split())
print('10. И, наоборот, соединять список в строку:', ' '.join(s.split()))

7. Можно искать вхождение подстроки: True
8. Если подстрока не найдена, то возвращается False: False
9. Строки можно разделять в списки: ['3.', 'Если', 'текст', 'длинный,', 'можно', 'использовать', 'вариант', 'с', 'тремя', 'кавычками', 'и', 'переносом', 'строки']
10. И, наоборот, соединять список в строку: 3. Если текст длинный, можно использовать вариант с тремя кавычками и переносом строки

In [27]:
print('11. Можно все сделать заглавными буквами:', s.upper())
print('12. Или, наоборот, маленькими:', s.lower())
print('13. Или как в предложении:', s.capitalize())

11. Можно все сделать заглавными буквами: 3. ЕСЛИ ТЕКСТ ДЛИННЫЙ, МОЖНО ИСПОЛЬЗОВАТЬ
ВАРИАНТ С ТРЕМЯ КАВЫЧКАМИ И ПЕРЕНОСОМ СТРОКИ
12. Или, наоборот, маленькими: 3. если текст длинный, можно использовать
вариант с тремя кавычками и переносом строки
13. Или как в предложении: 3. если текст длинный, можно использовать
вариант с тремя кавычками и переносом строки

Строка - итерируемый объект

In [28]:
s[3]

'Е'

In [29]:
s[:10]

'3. Если те'

In [31]:
s[-10:]

'сом строки'

In [32]:
s[::2]

'3 ситктдинй он соьоаьвратстеяквчаиипрнсмсрк'

In [33]:
for element in 'Какая-то строка':
    print(element)

К
а
к
а
я
-
т
о

с
т
р
о
к
а

In [34]:
s = 'abcdaf'
s.replace('a', '*')

'*bcd*f'

In [42]:
s = 'Примерстроки'
s.isdigit(), s.isalpha()

(False, True)

In [45]:
s.find('мер'), s.find('9')

(3, -1)

In [49]:
s.startswith('П')

True

In [52]:
"      Удалили лишние пробелы         ".strip()

'Удалили лишние пробелы'

Форматирование строк

In [157]:
dist = 99 # км
speed = 10.8 # км/ч
name = 'Alex'

In [155]:
print(c, ":", a, "км", b, "км/ч") # вариант 1

Alex : 99 км 10.8 км/ч

In [162]:
"%s: %d км, %.1f км/ч" % (name, dist, speed) # вариант 2

'Alex: 99 км, 10.8 км/ч'

In [163]:
"{}: {} км, {} км/ч".format(name, dist, speed) # вариант 3

'Alex: 99 км, 10.8 км/ч'

In [172]:
f"{name}: {dist:03d} км, {speed:2.3f} км/ч" # вариант 4

'Alex: 099 км, 10.800 км/ч'

### 01.03.07 Множества (set)

In [53]:
st1 = {1, 2, 3, 4}
st2 = {4, 5, 6, 7, 8}

In [55]:
st3 = {1, 2, 2, 2, 2}
st3

{1, 2}

In [54]:
len(st1)

4

In [56]:
7 in st2

True

In [57]:
# объединение (union)
st1 | st2

{1, 2, 3, 4, 5, 6, 7, 8}

In [58]:
# пересечение (intersection)
st1 & st2

{4}

In [59]:
# есть в st1, но нет в st2
st1 - st2

{1, 2, 3}

In [60]:
# есть только в st1 или только  в st2
st1 ^ st2

{1, 2, 3, 5, 6, 7, 8}

In [62]:
st1.add(10)
st1

{1, 2, 3, 4, 10}

In [65]:
st1[0] # неупорядоченная коллекция

TypeError: 'set' object is not subscriptable

### 01.03.08 Словари (dict)

In [67]:
d = {"Вася": 5, "Алена": 10, "Петя": 28}
type(d)

dict

In [68]:
d.keys()

dict_keys(['Вася', 'Алена', 'Петя'])

In [69]:
d.values()

dict_values([5, 10, 28])

In [70]:
d.items()

dict_items([('Вася', 5), ('Алена', 10), ('Петя', 28)])

In [71]:
petya = d.pop('Петя')
petya

28

In [72]:
d["Марина"] = 29
d

{'Вася': 5, 'Алена': 10, 'Марина': 29}

In [73]:
d.update({"Вася": 55, "Алена": 15, "Сергей": 0})
d

{'Вася': 55, 'Алена': 15, 'Марина': 29, 'Сергей': 0}

In [74]:
d["Вася"]

55

In [75]:
d['Кто-то']

KeyError: 'Кто-то'

In [76]:
d.get('Кто-то', " Нет такого")

' Нет такого'

In [78]:
d.setdefault("Владимир", "!!!")
d

{'Вася': 55, 'Алена': 15, 'Марина': 29, 'Сергей': 0, 'Владимир': '!!!'}

## 01.04. Условные выражения и циклы
### 01.04.01 Условные выражения

In [83]:
# TRUE
print(1==1)
print(bool([0,0]))
print(bool('слово'))
print('a' in ['a', 'b', 'c'])
a = 1; b = 1; print(a is b)

# FALSE
print(1=='1')
print(bool(0))
print(bool([]))
a = 1; b = 2; print(a is b)

True
True
True
True
True
False
False
False
False

In [5]:
from random import randint, choice

a = randint(50,100)
print(a)

if a > 100:
    print('Условие if')
elif a > 90:
    print('Условие elif')
elif a > 80:
    print('Условие elif')
else:
    print('Не выполнилось ни одно условие')

98
Условие elif

In [11]:
match choice(['a', 'c', 'e', 'f']):
    case 'a':
        print('a')
    case 'c':
        print('с')
    case _:
        print('ничего нет')

ничего нет

### 01.04.02. Циклы

In [12]:
for i in range(5):
    print(i)

0
1
2
3
4

In [13]:
i = 0

while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [15]:
i = 100

while i > 0:
    print(i)
    i -= randint(0,20)

100
80
67
55
51
31
13

In [17]:
for word in ['dog', 'table', 'cat', 'horse', 'tiger']:

    if word=='table':
        print("table - лишнее слово, continue")
        continue

    if word=='horse':
        print("лошадь мы не ожидали, break")
        break

    print(word)

dog
table - лишнее слово, continue
cat
лошадь мы не ожидали, break

In [18]:
for i, word in enumerate(['dog', 'table', 'cat', 'horse', 'tiger']):
    print(i+1, word)

1 dog
2 table
3 cat
4 horse
5 tiger

In [19]:
A = range(5)
print('A = ', A)
B = range(10,15)
print('B = ', B)

for a, b in zip(A, B):
    print(f"a = {a}, b = {b}")

A =  range(0, 5)
B =  range(10, 15)
a = 0, b = 10
a = 1, b = 11
a = 2, b = 12
a = 3, b = 13
a = 4, b = 14

In [22]:
A = [1, 2]
B = [3, 4]
C = [5, 6]

for a in A:
    for b in B:
        for c in C:
            print(f"{a} {b} {c}")

1 3 5
1 3 6
1 4 5
1 4 6
2 3 5
2 3 6
2 4 5
2 4 6

### 01.04.03 List/Dict Comprehension

In [23]:
%%time
lst_1 = []

for i in range(10_000_000):
    if i%2==0:
        lst_1.append(i)

CPU times: total: 1.47 s
Wall time: 1.52 s

In [25]:
%%time
lst_2 = [i for i in range(10_000_000) if i%2==0]

CPU times: total: 875 ms
Wall time: 889 ms

In [27]:
%%time
dict1 = {}

for i in range(10_000_000):
    if i%2==0:
        dict1[str(i)] = i

CPU times: total: 3.84 s
Wall time: 3.99 s

In [28]:
%%time

{str(i): i for i in range(10_000_000) if i%2==0}

CPU times: total: 3.02 s
Wall time: 3.13 s

{'0': 0,
 '2': 2,
 '4': 4,
 '6': 6,
 '8': 8,
 '10': 10,
 '12': 12,
 '14': 14,
 '16': 16,
 '18': 18,
 '20': 20,
 '22': 22,
 '24': 24,
 '26': 26,
 '28': 28,
 '30': 30,
 '32': 32,
 '34': 34,
 '36': 36,
 '38': 38,
 '40': 40,
 '42': 42,
 '44': 44,
 '46': 46,
 '48': 48,
 '50': 50,
 '52': 52,
 '54': 54,
 '56': 56,
 '58': 58,
 '60': 60,
 '62': 62,
 '64': 64,
 '66': 66,
 '68': 68,
 '70': 70,
 '72': 72,
 '74': 74,
 '76': 76,
 '78': 78,
 '80': 80,
 '82': 82,
 '84': 84,
 '86': 86,
 '88': 88,
 '90': 90,
 '92': 92,
 '94': 94,
 '96': 96,
 '98': 98,
 '100': 100,
 '102': 102,
 '104': 104,
 '106': 106,
 '108': 108,
 '110': 110,
 '112': 112,
 '114': 114,
 '116': 116,
 '118': 118,
 '120': 120,
 '122': 122,
 '124': 124,
 '126': 126,
 '128': 128,
 '130': 130,
 '132': 132,
 '134': 134,
 '136': 136,
 '138': 138,
 '140': 140,
 '142': 142,
 '144': 144,
 '146': 146,
 '148': 148,
 '150': 150,
 '152': 152,
 '154': 154,
 '156': 156,
 '158': 158,
 '160': 160,
 '162': 162,
 '164': 164,
 '166': 166,
 '168': 168,
 '170': 170,
 '172': 172,
 '174': 174,
 '176': 176,
 '178': 178,
 '180': 180,
 '182': 182,
 '184': 184,
 '186': 186,
 '188': 188,
 '190': 190,
 '192': 192,
 '194': 194,
 '196': 196,
 '198': 198,
 '200': 200,
 '202': 202,
 '204': 204,
 '206': 206,
 '208': 208,
 '210': 210,
 '212': 212,
 '214': 214,
 '216': 216,
 '218': 218,
 '220': 220,
 '222': 222,
 '224': 224,
 '226': 226,
 '228': 228,
 '230': 230,
 '232': 232,
 '234': 234,
 '236': 236,
 '238': 238,
 '240': 240,
 '242': 242,
 '244': 244,
 '246': 246,
 '248': 248,
 '250': 250,
 '252': 252,
 '254': 254,
 '256': 256,
 '258': 258,
 '260': 260,
 '262': 262,
 '264': 264,
 '266': 266,
 '268': 268,
 '270': 270,
 '272': 272,
 '274': 274,
 '276': 276,
 '278': 278,
 '280': 280,
 '282': 282,
 '284': 284,
 '286': 286,
 '288': 288,
 '290': 290,
 '292': 292,
 '294': 294,
 '296': 296,
 '298': 298,
 '300': 300,
 '302': 302,
 '304': 304,
 '306': 306,
 '308': 308,
 '310': 310,
 '312': 312,
 '314': 314,
 '316': 316,
 '318': 318,
 '320': 320,
 '322': 322,
 '324': 324,
 '326': 326,
 '328': 328,
 '330': 330,
 '332': 332,
 '334': 334,
 '336': 336,
 '338': 338,
 '340': 340,
 '342': 342,
 '344': 344,
 '346': 346,
 '348': 348,
 '350': 350,
 '352': 352,
 '354': 354,
 '356': 356,
 '358': 358,
 '360': 360,
 '362': 362,
 '364': 364,
 '366': 366,
 '368': 368,
 '370': 370,
 '372': 372,
 '374': 374,
 '376': 376,
 '378': 378,
 '380': 380,
 '382': 382,
 '384': 384,
 '386': 386,
 '388': 388,
 '390': 390,
 '392': 392,
 '394': 394,
 '396': 396,
 '398': 398,
 '400': 400,
 '402': 402,
 '404': 404,
 '406': 406,
 '408': 408,
 '410': 410,
 '412': 412,
 '414': 414,
 '416': 416,
 '418': 418,
 '420': 420,
 '422': 422,
 '424': 424,
 '426': 426,
 '428': 428,
 '430': 430,
 '432': 432,
 '434': 434,
 '436': 436,
 '438': 438,
 '440': 440,
 '442': 442,
 '444': 444,
 '446': 446,
 '448': 448,
 '450': 450,
 '452': 452,
 '454': 454,
 '456': 456,
 '458': 458,
 '460': 460,
 '462': 462,
 '464': 464,
 '466': 466,
 '468': 468,
 '470': 470,
 '472': 472,
 '474': 474,
 '476': 476,
 '478': 478,
 '480': 480,
 '482': 482,
 '484': 484,
 '486': 486,
 '488': 488,
 '490': 490,
 '492': 492,
 '494': 494,
 '496': 496,
 '498': 498,
 '500': 500,
 '502': 502,
 '504': 504,
 '506': 506,
 '508': 508,
 '510': 510,
 '512': 512,
 '514': 514,
 '516': 516,
 '518': 518,
 '520': 520,
 '522': 522,
 '524': 524,
 '526': 526,
 '528': 528,
 '530': 530,
 '532': 532,
 '534': 534,
 '536': 536,
 '538': 538,
 '540': 540,
 '542': 542,
 '544': 544,
 '546': 546,
 '548': 548,
 '550': 550,
 '552': 552,
 '554': 554,
 '556': 556,
 '558': 558,
 '560': 560,
 '562': 562,
 '564': 564,
 '566': 566,
 '568': 568,
 '570': 570,
 '572': 572,
 '574': 574,
 '576': 576,
 '578': 578,
 '580': 580,
 '582': 582,
 '584': 584,
 '586': 586,
 '588': 588,
 '590': 590,
 '592': 592,
 '594': 594,
 '596': 596,
 '598': 598,
 '600': 600,
 '602': 602,
 '604': 604,
 '606': 606,
 '608': 608,
 '610': 610,
 '612': 612,
 '614': 614,
 '616': 616,
 '618': 618,
 '620': 620,
 '622': 622,
 '624': 624,
 '626': 626,
 '628': 628,
 '630': 630,
 '632': 632,
 '634': 634,
 '636': 636,
 '638': 638,
 '640': 640,
 '642': 642,
 '644': 644,
 '646': 646,
 '648': 648,
 '650': 650,
 '652': 652,
 '654': 654,
 '656': 656,
 '658': 658,
 '660': 660,
 '662': 662,
 '664': 664,
 '666': 666,
 '668': 668,
 '670': 670,
 '672': 672,
 '674': 674,
 '676': 676,
 '678': 678,
 '680': 680,
 '682': 682,
 '684': 684,
 '686': 686,
 '688': 688,
 '690': 690,
 '692': 692,
 '694': 694,
 '696': 696,
 '698': 698,
 '700': 700,
 '702': 702,
 '704': 704,
 '706': 706,
 '708': 708,
 '710': 710,
 '712': 712,
 '714': 714,
 '716': 716,
 '718': 718,
 '720': 720,
 '722': 722,
 '724': 724,
 '726': 726,
 '728': 728,
 '730': 730,
 '732': 732,
 '734': 734,
 '736': 736,
 '738': 738,
 '740': 740,
 '742': 742,
 '744': 744,
 '746': 746,
 '748': 748,
 '750': 750,
 '752': 752,
 '754': 754,
 '756': 756,
 '758': 758,
 '760': 760,
 '762': 762,
 '764': 764,
 '766': 766,
 '768': 768,
 '770': 770,
 '772': 772,
 '774': 774,
 '776': 776,
 '778': 778,
 '780': 780,
 '782': 782,
 '784': 784,
 '786': 786,
 '788': 788,
 '790': 790,
 '792': 792,
 '794': 794,
 '796': 796,
 '798': 798,
 '800': 800,
 '802': 802,
 '804': 804,
 '806': 806,
 '808': 808,
 '810': 810,
 '812': 812,
 '814': 814,
 '816': 816,
 '818': 818,
 '820': 820,
 '822': 822,
 '824': 824,
 '826': 826,
 '828': 828,
 '830': 830,
 '832': 832,
 '834': 834,
 '836': 836,
 '838': 838,
 '840': 840,
 '842': 842,
 '844': 844,
 '846': 846,
 '848': 848,
 '850': 850,
 '852': 852,
 '854': 854,
 '856': 856,
 '858': 858,
 '860': 860,
 '862': 862,
 '864': 864,
 '866': 866,
 '868': 868,
 '870': 870,
 '872': 872,
 '874': 874,
 '876': 876,
 '878': 878,
 '880': 880,
 '882': 882,
 '884': 884,
 '886': 886,
 '888': 888,
 '890': 890,
 '892': 892,
 '894': 894,
 '896': 896,
 '898': 898,
 '900': 900,
 '902': 902,
 '904': 904,
 '906': 906,
 '908': 908,
 '910': 910,
 '912': 912,
 '914': 914,
 '916': 916,
 '918': 918,
 '920': 920,
 '922': 922,
 '924': 924,
 '926': 926,
 '928': 928,
 '930': 930,
 '932': 932,
 '934': 934,
 '936': 936,
 '938': 938,
 '940': 940,
 '942': 942,
 '944': 944,
 '946': 946,
 '948': 948,
 '950': 950,
 '952': 952,
 '954': 954,
 '956': 956,
 '958': 958,
 '960': 960,
 '962': 962,
 '964': 964,
 '966': 966,
 '968': 968,
 '970': 970,
 '972': 972,
 '974': 974,
 '976': 976,
 '978': 978,
 '980': 980,
 '982': 982,
 '984': 984,
 '986': 986,
 '988': 988,
 '990': 990,
 '992': 992,
 '994': 994,
 '996': 996,
 '998': 998,
 '1000': 1000,
 '1002': 1002,
 '1004': 1004,
 '1006': 1006,
 '1008': 1008,
 '1010': 1010,
 '1012': 1012,
 '1014': 1014,
 '1016': 1016,
 '1018': 1018,
 '1020': 1020,
 '1022': 1022,
 '1024': 1024,
 '1026': 1026,
 '1028': 1028,
 '1030': 1030,
 '1032': 1032,
 '1034': 1034,
 '1036': 1036,
 '1038': 1038,
 '1040': 1040,
 '1042': 1042,
 '1044': 1044,
 '1046': 1046,
 '1048': 1048,
 '1050': 1050,
 '1052': 1052,
 '1054': 1054,
 '1056': 1056,
 '1058': 1058,
 '1060': 1060,
 '1062': 1062,
 '1064': 1064,
 '1066': 1066,
 '1068': 1068,
 '1070': 1070,
 '1072': 1072,
 '1074': 1074,
 '1076': 1076,
 '1078': 1078,
 '1080': 1080,
 '1082': 1082,
 '1084': 1084,
 '1086': 1086,
 '1088': 1088,
 '1090': 1090,
 '1092': 1092,
 '1094': 1094,
 '1096': 1096,
 '1098': 1098,
 '1100': 1100,
 '1102': 1102,
 '1104': 1104,
 '1106': 1106,
 '1108': 1108,
 '1110': 1110,
 '1112': 1112,
 '1114': 1114,
 '1116': 1116,
 '1118': 1118,
 '1120': 1120,
 '1122': 1122,
 '1124': 1124,
 '1126': 1126,
 '1128': 1128,
 '1130': 1130,
 '1132': 1132,
 '1134': 1134,
 '1136': 1136,
 '1138': 1138,
 '1140': 1140,
 '1142': 1142,
 '1144': 1144,
 '1146': 1146,
 '1148': 1148,
 '1150': 1150,
 '1152': 1152,
 '1154': 1154,
 '1156': 1156,
 '1158': 1158,
 '1160': 1160,
 '1162': 1162,
 '1164': 1164,
 '1166': 1166,
 '1168': 1168,
 '1170': 1170,
 '1172': 1172,
 '1174': 1174,
 '1176': 1176,
 '1178': 1178,
 '1180': 1180,
 '1182': 1182,
 '1184': 1184,
 '1186': 1186,
 '1188': 1188,
 '1190': 1190,
 '1192': 1192,
 '1194': 1194,
 '1196': 1196,
 '1198': 1198,
 '1200': 1200,
 '1202': 1202,
 '1204': 1204,
 '1206': 1206,
 '1208': 1208,
 '1210': 1210,
 '1212': 1212,
 '1214': 1214,
 '1216': 1216,
 '1218': 1218,
 '1220': 1220,
 '1222': 1222,
 '1224': 1224,
 '1226': 1226,
 '1228': 1228,
 '1230': 1230,
 '1232': 1232,
 '1234': 1234,
 '1236': 1236,
 '1238': 1238,
 '1240': 1240,
 '1242': 1242,
 '1244': 1244,
 '1246': 1246,
 '1248': 1248,
 '1250': 1250,
 '1252': 1252,
 '1254': 1254,
 '1256': 1256,
 '1258': 1258,
 '1260': 1260,
 '1262': 1262,
 '1264': 1264,
 '1266': 1266,
 '1268': 1268,
 '1270': 1270,
 '1272': 1272,
 '1274': 1274,
 '1276': 1276,
 '1278': 1278,
 '1280': 1280,
 '1282': 1282,
 '1284': 1284,
 '1286': 1286,
 '1288': 1288,
 '1290': 1290,
 '1292': 1292,
 '1294': 1294,
 '1296': 1296,
 '1298': 1298,
 '1300': 1300,
 '1302': 1302,
 '1304': 1304,
 '1306': 1306,
 '1308': 1308,
 '1310': 1310,
 '1312': 1312,
 '1314': 1314,
 '1316': 1316,
 '1318': 1318,
 '1320': 1320,
 '1322': 1322,
 '1324': 1324,
 '1326': 1326,
 '1328': 1328,
 '1330': 1330,
 '1332': 1332,
 '1334': 1334,
 '1336': 1336,
 '1338': 1338,
 '1340': 1340,
 '1342': 1342,
 '1344': 1344,
 '1346': 1346,
 '1348': 1348,
 '1350': 1350,
 '1352': 1352,
 '1354': 1354,
 '1356': 1356,
 '1358': 1358,
 '1360': 1360,
 '1362': 1362,
 '1364': 1364,
 '1366': 1366,
 '1368': 1368,
 '1370': 1370,
 '1372': 1372,
 '1374': 1374,
 '1376': 1376,
 '1378': 1378,
 '1380': 1380,
 '1382': 1382,
 '1384': 1384,
 '1386': 1386,
 '1388': 1388,
 '1390': 1390,
 '1392': 1392,
 '1394': 1394,
 '1396': 1396,
 '1398': 1398,
 '1400': 1400,
 '1402': 1402,
 '1404': 1404,
 '1406': 1406,
 '1408': 1408,
 '1410': 1410,
 '1412': 1412,
 '1414': 1414,
 '1416': 1416,
 '1418': 1418,
 '1420': 1420,
 '1422': 1422,
 '1424': 1424,
 '1426': 1426,
 '1428': 1428,
 '1430': 1430,
 '1432': 1432,
 '1434': 1434,
 '1436': 1436,
 '1438': 1438,
 '1440': 1440,
 '1442': 1442,
 '1444': 1444,
 '1446': 1446,
 '1448': 1448,
 '1450': 1450,
 '1452': 1452,
 '1454': 1454,
 '1456': 1456,
 '1458': 1458,
 '1460': 1460,
 '1462': 1462,
 '1464': 1464,
 '1466': 1466,
 '1468': 1468,
 '1470': 1470,
 '1472': 1472,
 '1474': 1474,
 '1476': 1476,
 '1478': 1478,
 '1480': 1480,
 '1482': 1482,
 '1484': 1484,
 '1486': 1486,
 '1488': 1488,
 '1490': 1490,
 '1492': 1492,
 '1494': 1494,
 '1496': 1496,
 '1498': 1498,
 '1500': 1500,
 '1502': 1502,
 '1504': 1504,
 '1506': 1506,
 '1508': 1508,
 '1510': 1510,
 '1512': 1512,
 '1514': 1514,
 '1516': 1516,
 '1518': 1518,
 '1520': 1520,
 '1522': 1522,
 '1524': 1524,
 '1526': 1526,
 '1528': 1528,
 '1530': 1530,
 '1532': 1532,
 '1534': 1534,
 '1536': 1536,
 '1538': 1538,
 '1540': 1540,
 '1542': 1542,
 '1544': 1544,
 '1546': 1546,
 '1548': 1548,
 '1550': 1550,
 '1552': 1552,
 '1554': 1554,
 '1556': 1556,
 '1558': 1558,
 '1560': 1560,
 '1562': 1562,
 '1564': 1564,
 '1566': 1566,
 '1568': 1568,
 '1570': 1570,
 '1572': 1572,
 '1574': 1574,
 '1576': 1576,
 '1578': 1578,
 '1580': 1580,
 '1582': 1582,
 '1584': 1584,
 '1586': 1586,
 '1588': 1588,
 '1590': 1590,
 '1592': 1592,
 '1594': 1594,
 '1596': 1596,
 '1598': 1598,
 '1600': 1600,
 '1602': 1602,
 '1604': 1604,
 '1606': 1606,
 '1608': 1608,
 '1610': 1610,
 '1612': 1612,
 '1614': 1614,
 '1616': 1616,
 '1618': 1618,
 '1620': 1620,
 '1622': 1622,
 '1624': 1624,
 '1626': 1626,
 '1628': 1628,
 '1630': 1630,
 '1632': 1632,
 '1634': 1634,
 '1636': 1636,
 '1638': 1638,
 '1640': 1640,
 '1642': 1642,
 '1644': 1644,
 '1646': 1646,
 '1648': 1648,
 '1650': 1650,
 '1652': 1652,
 '1654': 1654,
 '1656': 1656,
 '1658': 1658,
 '1660': 1660,
 '1662': 1662,
 '1664': 1664,
 '1666': 1666,
 '1668': 1668,
 '1670': 1670,
 '1672': 1672,
 '1674': 1674,
 '1676': 1676,
 '1678': 1678,
 '1680': 1680,
 '1682': 1682,
 '1684': 1684,
 '1686': 1686,
 '1688': 1688,
 '1690': 1690,
 '1692': 1692,
 '1694': 1694,
 '1696': 1696,
 '1698': 1698,
 '1700': 1700,
 '1702': 1702,
 '1704': 1704,
 '1706': 1706,
 '1708': 1708,
 '1710': 1710,
 '1712': 1712,
 '1714': 1714,
 '1716': 1716,
 '1718': 1718,
 '1720': 1720,
 '1722': 1722,
 '1724': 1724,
 '1726': 1726,
 '1728': 1728,
 '1730': 1730,
 '1732': 1732,
 '1734': 1734,
 '1736': 1736,
 '1738': 1738,
 '1740': 1740,
 '1742': 1742,
 '1744': 1744,
 '1746': 1746,
 '1748': 1748,
 '1750': 1750,
 '1752': 1752,
 '1754': 1754,
 '1756': 1756,
 '1758': 1758,
 '1760': 1760,
 '1762': 1762,
 '1764': 1764,
 '1766': 1766,
 '1768': 1768,
 '1770': 1770,
 '1772': 1772,
 '1774': 1774,
 '1776': 1776,
 '1778': 1778,
 '1780': 1780,
 '1782': 1782,
 '1784': 1784,
 '1786': 1786,
 '1788': 1788,
 '1790': 1790,
 '1792': 1792,
 '1794': 1794,
 '1796': 1796,
 '1798': 1798,
 '1800': 1800,
 '1802': 1802,
 '1804': 1804,
 '1806': 1806,
 '1808': 1808,
 '1810': 1810,
 '1812': 1812,
 '1814': 1814,
 '1816': 1816,
 '1818': 1818,
 '1820': 1820,
 '1822': 1822,
 '1824': 1824,
 '1826': 1826,
 '1828': 1828,
 '1830': 1830,
 '1832': 1832,
 '1834': 1834,
 '1836': 1836,
 '1838': 1838,
 '1840': 1840,
 '1842': 1842,
 '1844': 1844,
 '1846': 1846,
 '1848': 1848,
 '1850': 1850,
 '1852': 1852,
 '1854': 1854,
 '1856': 1856,
 '1858': 1858,
 '1860': 1860,
 '1862': 1862,
 '1864': 1864,
 '1866': 1866,
 '1868': 1868,
 '1870': 1870,
 '1872': 1872,
 '1874': 1874,
 '1876': 1876,
 '1878': 1878,
 '1880': 1880,
 '1882': 1882,
 '1884': 1884,
 '1886': 1886,
 '1888': 1888,
 '1890': 1890,
 '1892': 1892,
 '1894': 1894,
 '1896': 1896,
 '1898': 1898,
 '1900': 1900,
 '1902': 1902,
 '1904': 1904,
 '1906': 1906,
 '1908': 1908,
 '1910': 1910,
 '1912': 1912,
 '1914': 1914,
 '1916': 1916,
 '1918': 1918,
 '1920': 1920,
 '1922': 1922,
 '1924': 1924,
 '1926': 1926,
 '1928': 1928,
 '1930': 1930,
 '1932': 1932,
 '1934': 1934,
 '1936': 1936,
 '1938': 1938,
 '1940': 1940,
 '1942': 1942,
 '1944': 1944,
 '1946': 1946,
 '1948': 1948,
 '1950': 1950,
 '1952': 1952,
 '1954': 1954,
 '1956': 1956,
 '1958': 1958,
 '1960': 1960,
 '1962': 1962,
 '1964': 1964,
 '1966': 1966,
 '1968': 1968,
 '1970': 1970,
 '1972': 1972,
 '1974': 1974,
 '1976': 1976,
 '1978': 1978,
 '1980': 1980,
 '1982': 1982,
 '1984': 1984,
 '1986': 1986,
 '1988': 1988,
 '1990': 1990,
 '1992': 1992,
 '1994': 1994,
 '1996': 1996,
 '1998': 1998,
 ...}