# Python (базовый). 01. Типы данных

Задания к презентации "01_Введение, типы данных.pptx" курса Python (basic)

## Задание 3

1. Создайте целочисленную переменную a, равную десяти, выведите в консоль ее значение и тип.
2. Создайте переменную с плавающей запятой b, также равную десяти, выведите в консоль ее значение и тип. 
3. Создайте строковую переменную с, равную восьми, выведите в консоль ее значение и тип. 
4. Возведите в квадрат переменную a и сложите ее с переменной b, и из полученного значения извлеките квадратный корень. Присвойте значение этого выражения переменной x.
6. Сложите переменную x с переменной c, найдите остаток от деления на 2 и присвойте это значение переменной y.
7. Выведите идентификаторы полученных переменных (id()) и сравните их
8. Выполните шаги 1..6, но предварительно преобразуйте переменную b в int.

In [25]:
a = 10

a, type(a)

(10, int)

In [34]:
b = 10.0

b, type(b)

(10.0, float)

In [35]:
x = (a**2 + b)**0.5

x

10.488088481701515

In [36]:
y = (x + c) % 2

y

1.588088481701515

In [37]:
id(x), id(y), id(a), id(b)

(2262409952560, 2262409950960, 2262278629968, 2262409952688)

In [41]:
a = 10
b = int(10.0)
x = (a**2 + b)**0.5
y = (x + c) % 2

a, b, x, y

(10, 10, 10.488088481701515, 1.588088481701515)

In [39]:
id(x), id(y), id(a), id(b)

(2262409952048, 2262411371056, 2262278629968, 2262278629968)

## Задание 4

1. Создайте список employees, в котором будут содержаться кортежи сотрудников в формате (имя, фамилия, возраст, должность). Инициализируйте его произвольными пятью сотрудниками.
2. Добавьте в список нового сотрудника
3. Выведите в консоль должность нового сотрудника
4. Измените должность нового сотрудника на «руководитель»
5. Выведите в консоль данные произвольного сотрудника (модуль random)

In [8]:
employees = [
    ('иван', 'иванов', 35, 'сотрудник'),
    ('иван1', 'иванов1', 36, 'сотрудник'),
    ('иван2', 'иванов2', 37, 'сотрудник'),
    ('иван3', 'иванов3', 38, 'сотрудник'),
]

employees

[('иван', 'иванов', 35, 'сотрудник'),
 ('иван1', 'иванов1', 36, 'сотрудник'),
 ('иван2', 'иванов2', 37, 'сотрудник'),
 ('иван3', 'иванов3', 38, 'сотрудник')]

In [9]:
employees.append(('олег', 'петров', 44, 'инженер'))
employees

[('иван', 'иванов', 35, 'сотрудник'),
 ('иван1', 'иванов1', 36, 'сотрудник'),
 ('иван2', 'иванов2', 37, 'сотрудник'),
 ('иван3', 'иванов3', 38, 'сотрудник'),
 ('олег', 'петров', 44, 'инженер')]

In [10]:
employees[-1][-1]

'инженер'

In [11]:
employees[-1][-1] = 'руководитель'

TypeError: 'tuple' object does not support item assignment

In [12]:
import random

random.choice(employees)

('иван3', 'иванов3', 38, 'сотрудник')

## Задание 5

1. Присвойте строковой переменной s любой текст из нескольких (>2) предложений длиной не менее 20 символов.
2. Выведите на экран длину переменной s.
3. Приведите весь текст к нижнему регистру, выведите на экран.
4. Замените все пробелы в переменной на знак @, выведите на экран.
5. Разбейте ваш текст на предложения и выведите их на экран в виде списка
6. Проверьте, состоит ли ваше первое предложение только из букв. Выведите результат на экран.
7. Выведите на экран второе слово первого предложения вашего текста в обратном порядке.
8. Разбейте ваше второе предложение и выведите на экран слова с первого по пятое включительно, через одно.

In [21]:
s = '''
Присвойте строковой переменной s любой текст из нескольких (>2) предложений длиной не менее 20 символов.
Выведите на экран длину переменной s.
Приведите весь текст к нижнему регистру, выведите на экран.
Замените все пробелы в переменной на знак @, выведите на экран.
Разбейте ваш текст на предложения и выведите их на экран в виде списка
Проверьте, состоит ли ваше первое предложение только из букв. Выведите результат на экран.
Выведите на экран второе слово первой строки вашего текста в обратном порядке.
Разбейте ваше второе предложение и выведите на экран слова с первого по пятое включительно, через одно.

'''

In [22]:
len(s)

614

In [23]:
s.lower()

'\nприсвойте строковой переменной s любой текст из нескольких (>2) предложений длиной не менее 20 символов.\nвыведите на экран длину переменной s.\nприведите весь текст к нижнему регистру, выведите на экран.\nзамените все пробелы в переменной на знак @, выведите на экран.\nразбейте ваш текст на предложения и выведите их на экран в виде списка\nпроверьте, состоит ли ваше первое предложение только из букв. выведите результат на экран.\nвыведите на экран второе слово первой строки вашего текста в обратном порядке.\nразбейте ваше второе предложение и выведите на экран слова с первого по пятое включительно, через одно.\n\n'

In [24]:
s.replace('\n','')

'Присвойте строковой переменной s любой текст из нескольких (>2) предложений длиной не менее 20 символов.Выведите на экран длину переменной s.Приведите весь текст к нижнему регистру, выведите на экран.Замените все пробелы в переменной на знак @, выведите на экран.Разбейте ваш текст на предложения и выведите их на экран в виде спискаПроверьте, состоит ли ваше первое предложение только из букв. Выведите результат на экран.Выведите на экран второе слово первой строки вашего текста в обратном порядке.Разбейте ваше второе предложение и выведите на экран слова с первого по пятое включительно, через одно.'

In [25]:
s.replace(' ','@')

'\nПрисвойте@строковой@переменной@s@любой@текст@из@нескольких@(>2)@предложений@длиной@не@менее@20@символов.\nВыведите@на@экран@длину@переменной@s.\nПриведите@весь@текст@к@нижнему@регистру,@выведите@на@экран.\nЗамените@все@пробелы@в@переменной@на@знак@@,@выведите@на@экран.\nРазбейте@ваш@текст@на@предложения@и@выведите@их@на@экран@в@виде@списка\nПроверьте,@состоит@ли@ваше@первое@предложение@только@из@букв.@Выведите@результат@на@экран.\nВыведите@на@экран@второе@слово@первой@строки@вашего@текста@в@обратном@порядке.\nРазбейте@ваше@второе@предложение@и@выведите@на@экран@слова@с@первого@по@пятое@включительно,@через@одно.\n\n'

In [27]:
s.split('.')

['\nПрисвойте строковой переменной s любой текст из нескольких (>2) предложений длиной не менее 20 символов',
 '\nВыведите на экран длину переменной s',
 '\nПриведите весь текст к нижнему регистру, выведите на экран',
 '\nЗамените все пробелы в переменной на знак @, выведите на экран',
 '\nРазбейте ваш текст на предложения и выведите их на экран в виде списка\nПроверьте, состоит ли ваше первое предложение только из букв',
 ' Выведите результат на экран',
 '\nВыведите на экран второе слово первой строки вашего текста в обратном порядке',
 '\nРазбейте ваше второе предложение и выведите на экран слова с первого по пятое включительно, через одно',
 '\n\n']

In [18]:
s.replace('@','').isalpha()

False

In [19]:
s.replace('\n','').replace('@','').replace('>','').isalnum()

False

In [20]:
s.replace('\n','').split('.')[0]

'Присвойте строковой переменной s любой текст из нескольких (>2) предложений длиной не менее 20 символов'

In [28]:
s.replace('\n','').split('.')[0].split()[1][::-1]

'йовокортс'

In [89]:
s.replace('\n','').split('.')[1]

'Выведите на экран длину переменной s'

In [90]:
s.replace('\n','').split('.')[1].split()[1:6:2]

['на', 'длину', 's']

In [29]:
len(list(s.split('.')[0])) # количество символов в предложении

104

In [30]:
len(set(list(s.split('.')[0]))) # количество уникальных символов в предложении

29

## Задание 6

1. Преобразуйте ваш список employees из задания 4 в словарь, где ключом будет выступать кортеж из имени и фамилии сотрудника, а значениями – словарь из возраста (‘age’) и должности (‘position’)
2. Добавьте еще одного сотрудника в словарь
3. Выведите на экран запрос несуществующего сотрудника, чтобы запрос вернул (None)
4. Выведите на экран всех сотрудников

In [32]:
employees = {
    ('иван', 'иванов'): {'age': 35, 'position': 'сотрудник'},
    ('иван1', 'иванов1'): {'age': 36, 'position': 'сотрудник'},
    ('иван2', 'иванов2'): {'age': 37, 'position': 'сотрудник'},
    ('иван3', 'иванов3'): {'age': 38, 'position': 'сотрудник'},
}

employees

{('иван', 'иванов'): {'age': 35, 'position': 'сотрудник'},
 ('иван1', 'иванов1'): {'age': 36, 'position': 'сотрудник'},
 ('иван2', 'иванов2'): {'age': 37, 'position': 'сотрудник'},
 ('иван3', 'иванов3'): {'age': 38, 'position': 'сотрудник'}}

In [33]:
employees[('иван', 'иванов')]

{'age': 35, 'position': 'сотрудник'}

In [34]:
employees.update({('Алексей', 'Петров'): {'age': 40, 'position': 'сотрудник1'}})

In [35]:
employees

{('иван', 'иванов'): {'age': 35, 'position': 'сотрудник'},
 ('иван1', 'иванов1'): {'age': 36, 'position': 'сотрудник'},
 ('иван2', 'иванов2'): {'age': 37, 'position': 'сотрудник'},
 ('иван3', 'иванов3'): {'age': 38, 'position': 'сотрудник'},
 ('Алексей', 'Петров'): {'age': 40, 'position': 'сотрудник1'}}

In [36]:
employees[('иван', 'иван9999999ов')]

KeyError: ('иван', 'иван9999999ов')

In [37]:
for key in employees.keys():
    print(" ".join(key))

иван иванов
иван1 иванов1
иван2 иванов2
иван3 иванов3
Алексей Петров

## Задание 7

1. Используйте ваш словарь employees из задания 6, добавьте каждому сотруднику в словарь его параметров параметр «зарплата» (‘salary’) с произвольными целочисленными значениями.
2. Найдите (for) самого низкооплачиваемого и высокооплачиваемого сотрудника, выведите на экран (например, “Петров получает 100000, а Сидоров 10000”). Для форматирования можно воспользоваться f-string:
3. Повышайте зарплату самому низкооплачиваемому сотруднику до тех пор, пока (while) она не сравняется или не станет выше зарплаты самого высокооплачиваемого сотрудника. Шаг повышения зарплаты должен быть равен одной десятой разницы между зарплатами указанных сотрудников. После каждого повышения выводите на экран новую зарплату, а в конце – увольте сотрудника путем удаления его из словаря.

In [38]:
employees

{('иван', 'иванов'): {'age': 35, 'position': 'сотрудник'},
 ('иван1', 'иванов1'): {'age': 36, 'position': 'сотрудник'},
 ('иван2', 'иванов2'): {'age': 37, 'position': 'сотрудник'},
 ('иван3', 'иванов3'): {'age': 38, 'position': 'сотрудник'},
 ('Алексей', 'Петров'): {'age': 40, 'position': 'сотрудник1'}}

In [39]:
import random

for key, value in employees.items():
    employees[key]['salary'] = random.randint(50_000, 100_000)
    
employees

{('иван', 'иванов'): {'age': 35, 'position': 'сотрудник', 'salary': 59984},
 ('иван1', 'иванов1'): {'age': 36, 'position': 'сотрудник', 'salary': 79110},
 ('иван2', 'иванов2'): {'age': 37, 'position': 'сотрудник', 'salary': 73764},
 ('иван3', 'иванов3'): {'age': 38, 'position': 'сотрудник', 'salary': 66740},
 ('Алексей', 'Петров'): {'age': 40, 'position': 'сотрудник1', 'salary': 90029}}

In [40]:
key_max = None
key_min = None

salary_min = 100_000
salary_max = 0

for key, value in employees.items():
    
    if value['salary'] > salary_max:
        key_max = key
        salary_max = value['salary']
        

    if value['salary'] < salary_min:
        key_min = key
        salary_min = value['salary']
        
print(f"{key_max[1]} получает {salary_max} р, а {key_min[1]} получает "
      f"{employees[key_min]['salary']}!")

Петров получает 90029 р, а иванов получает 59984!

In [41]:
delta = round(0.1 * (salary_max - salary_min))
print('шаг повышения ЗП:', delta)

while employees[key_min]['salary'] < employees[key_max]['salary']:
    employees[key_min]['salary'] = employees[key_min]['salary'] + delta
    print(employees[key_min]['salary'])
    
employees.pop(key_min)
employees

шаг повышения ЗП: 3004
62988
65992
68996
72000
75004
78008
81012
84016
87020
90024
93028

{('иван1', 'иванов1'): {'age': 36, 'position': 'сотрудник', 'salary': 79110},
 ('иван2', 'иванов2'): {'age': 37, 'position': 'сотрудник', 'salary': 73764},
 ('иван3', 'иванов3'): {'age': 38, 'position': 'сотрудник', 'salary': 66740},
 ('Алексей', 'Петров'): {'age': 40, 'position': 'сотрудник1', 'salary': 90029}}

## Задание 8

1. При помощи list comprehension создайте список из целочисленных значений от 1 до 20.
2. При помощи list comprehension создайте список из целочисленных значений от 1 до 20, но только нечетные числа.
3. При помощи dict comprehension создайте новый словарь из словаря employees, где ключом будет фамилия, а значением – должность сотрудника.
4. При помощи dict comprehension создайте новый словарь из словаря employees, где ключом будет фамилия, а значением – должность сотрудника, если его зарплата больше 50000.

In [42]:
[i for i in range(1,21)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [44]:
[i for i in range(1,21) if i%2==1]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [50]:
employees

{('иван1', 'иванов1'): {'age': 36, 'position': 'сотрудник', 'salary': 79110},
 ('иван2', 'иванов2'): {'age': 37, 'position': 'сотрудник', 'salary': 73764},
 ('иван3', 'иванов3'): {'age': 38, 'position': 'сотрудник', 'salary': 66740},
 ('Алексей', 'Петров'): {'age': 40, 'position': 'сотрудник1', 'salary': 90029}}

In [48]:
{key[1]: value['position'] for key, value in employees.items()}

{'иванов1': 'сотрудник',
 'иванов2': 'сотрудник',
 'иванов3': 'сотрудник',
 'Петров': 'сотрудник1'}

In [49]:
{key[1]: value['position'] for key, value in employees.items() if value['salary']>50000}

{'иванов1': 'сотрудник',
 'иванов2': 'сотрудник',
 'иванов3': 'сотрудник',
 'Петров': 'сотрудник1'}